
port: 7890
socks-port: 7891
redir-port: 7892
mixed-port: 7893
mode: rule
log-level: silent
allow-lan: true
external-controller: 0.0.0.0:9090
bind-address: "*"
ipv6: false
dns:
  enable: true
  ipv6: false
  enhanced-mode: redir-host
  listen: 0.0.0.0:7894
  fallback-filter:
    geoip: false
    ipcidr:
    - 240.0.0.0/4
  nameserver:
    - https://puredns.org/dns-query
    - tls://puredns.org:853
  fallback:
    - tcp://108.137.44.39
    - tcp://108.137.44.9
    - 108.137.44.39
    - 108.137.44.9
tun:
  enable: true
  stack: system 
  macOS-auto-route: true
  macOS-auto-detect-interface: true
  dns-hijack:
    - tcp://108.137.44.39:53
experimental:
  interface-name: en0

proxies:
  - {name: ChronosapianRay, server: 64.23.152.92, port: 43664, type: vmess, uuid: af9d4768-69b2-47f5-8199-5d4d91482b66, sni: store.steampowered.com, alterId: 0, cipher: auto, tls: , skip-cert-verify: true, udp: true, network: tcp, ws-opts: {path: , headers: {Host: store.steampowered.com}}}
  - {name: 443 Vmess USA Virginia 2024-01-05, server: us-23.hihu.net, port: 443, type: vmess, uuid: 53c4c050-a5f2-11ee-b436-205c6d5f5d78, sni: store.steampowered.com, alterId: 0, cipher: auto, tls: 1, skip-cert-verify: true, udp: true, network: ws, ws-opts: {path: /6kfgnted, headers: {Host: store.steampowered.com}}}
  - {name: dynamic-sg2b.obfs.xyz, server: dynamic-sg2b.obfs.xyz, port: 443, type: vmess, uuid: 3a8f7b55-c795-4483-aa96-19b9912a10cb, sni: store.steampowered.com, alterId: 0, cipher: auto, tls: 1, skip-cert-verify: true, udp: true, network: ws, ws-opts: {path: /worryfree, headers: {Host: store.steampowered.com}}}
  - {name: dynamic-us2b.obfs.xyz, server: dynamic-us2b.obfs.xyz, port: 443, type: vmess, uuid: 3bf8a0b0-ac27-4ef2-8938-ed47358cbc21, sni: store.steampowered.com, alterId: 0, cipher: auto, tls: 1, skip-cert-verify: true, udp: true, network: ws, ws-opts: {path: /worryfree, headers: {Host: store.steampowered.com}}}

proxy-groups:
  - name: sshkit-generator
    type: url-test
    url: 'http://www.gstatic.com/generate_204'
    interval: 300
    proxies:
      - ChronosapianRay
      - 443 Vmess USA Virginia 2024-01-05
      - dynamic-sg2b.obfs.xyz
      - dynamic-us2b.obfs.xyz

rules:
 - MATCH,sshkit-generator
