
port: 7890
socks-port: 7891
redir-port: 7892
mixed-port: 7893
mode: rule
log-level: silent
allow-lan: true
external-controller: 0.0.0.0:9090
bind-address: "*"
ipv6: false
dns:
  enable: true
  ipv6: false
  enhanced-mode: redir-host
  listen: 0.0.0.0:7894
  fallback-filter:
    geoip: false
    ipcidr:
    - 240.0.0.0/4
  nameserver:
    - https://puredns.org/dns-query
    - tls://puredns.org:853
  fallback:
    - tcp://108.137.44.39
    - tcp://108.137.44.9
    - 108.137.44.39
    - 108.137.44.9
tun:
  enable: true
  stack: system 
  macOS-auto-route: true
  macOS-auto-detect-interface: true
  dns-hijack:
    - tcp://108.137.44.39:53
experimental:
  interface-name: en0

proxies:
  - {name: vmess-sg1.sshkit.org, server: vmess-sg1.sshkit.org, port: 443, type: vmess, uuid: e620d600-ee19-4012-a96c-968e85a52de9, sni: store.steampowered.com, alterId: 0, cipher: auto, tls: 1, skip-cert-verify: true, udp: true, network: ws, ws-opts: {path: /sshkit/1133788578/65896a29c705d/, headers: {Host: store.steampowered.com}}}
  - {name: 443 Vmess USA OVH EAST 2024-01-01, server: us-22.hihu.net, port: 443, type: vmess, uuid: fe2ee060-a2df-11ee-b135-205c6d5f5d78, sni: store.steampowered.com, alterId: 0, cipher: auto, tls: 1, skip-cert-verify: true, udp: true, network: ws, ws-opts: {path: /g95zn4a3, headers: {Host: store.steampowered.com}}}
  - {name: 443 Vmess USA LA 2024-01-01, server: us-21.hihu.net, port: 443, type: vmess, uuid: 0c0bf7b0-a2e0-11ee-b633-205c6d5f5d78, sni: store.steampowered.com, alterId: 0, cipher: auto, tls: 1, skip-cert-verify: true, udp: true, network: ws, ws-opts: {path: /f2wiark0, headers: {Host: store.steampowered.com}}}
  - {name: 443 Vmess USA Virginia 2024-01-01, server: us-23.hihu.net, port: 443, type: vmess, uuid: 19767990-a2e0-11ee-b331-205c6d5f5d78, sni: store.steampowered.com, alterId: 0, cipher: auto, tls: 1, skip-cert-verify: true, udp: true, network: ws, ws-opts: {path: /rfghkx17, headers: {Host: store.steampowered.com}}}
  - {name: 443 Vmess NL Fast (IPv4 & IPv6) 2024-01-01, server: eu-2.hihu.net, port: 443, type: vmess, uuid: 272dfa50-a2e0-11ee-b836-205c6d5f5d78, sni: store.steampowered.com, alterId: 0, cipher: auto, tls: 1, skip-cert-verify: true, udp: true, network: ws, ws-opts: {path: /lkqpmhb6, headers: {Host: store.steampowered.com}}}
  - {name: 443 Vmess Singapore HE-1 Limit 2024-01-01, server: sg-1.hihu.net, port: 443, type: vmess, uuid: 33da7030-a2e0-11ee-b638-205c6d5f5d78, sni: store.steampowered.com, alterId: 0, cipher: auto, tls: 1, skip-cert-verify: true, udp: true, network: ws, ws-opts: {path: /h1fduzwa, headers: {Host: store.steampowered.com}}}
  - {name: 443 Vmess Singapore Melbi 9 2024-01-01, server: sg-9.hihu.net, port: 443, type: vmess, uuid: 3feff670-a2e0-11ee-b733-205c6d5f5d78, sni: store.steampowered.com, alterId: 0, cipher: auto, tls: 1, skip-cert-verify: true, udp: true, network: ws, ws-opts: {path: /6ad4xuh1, headers: {Host: store.steampowered.com}}}

proxy-groups:
  - name: sshkit-generator
    type: load-balance
    url: 'http://www.gstatic.com/generate_204'
    interval: 300
    strategy: consistent-hashing
    proxies:
      - vmess-sg1.sshkit.org
      - 443 Vmess USA OVH EAST 2024-01-01
      - 443 Vmess USA LA 2024-01-01
      - 443 Vmess USA Virginia 2024-01-01
      - 443 Vmess NL Fast (IPv4 & IPv6) 2024-01-01
      - 443 Vmess Singapore HE-1 Limit 2024-01-01
      - 443 Vmess Singapore Melbi 9 2024-01-01

rules:
 - MATCH,sshkit-generator
